extends layout

block content

  - const statusLabels = {Available:'Disponível', Maintenance:'Manutenção', Loaned:'Emprestado', Reserved:'Reservado', Scheduled:'Agendado', Completed:'Concluído', Cancelled:'Cancelado'}

  h1 ID: #{bookinstance._id}

  p #[strong Esporte: ]
    a(href=bookinstance.book.url) #{bookinstance.book.title}
  p #[strong Local/Detalhes:] #{bookinstance.imprint}

  p #[strong Estado: ]
    if bookinstance.status=='Available'
      span.text-success #{statusLabels[bookinstance.status] || bookinstance.status}
    else if bookinstance.status=='Maintenance'
      span.text-danger #{statusLabels[bookinstance.status] || bookinstance.status}
    else
      span.text-warning #{statusLabels[bookinstance.status] || bookinstance.status}

  if bookinstance.status!='Available'
    p #[strong Data:] #{bookinstance.due_back_formatted}

  hr
  p
    a(href=bookinstance.url+'/delete') Excluir cronograma
  p
    a(href=bookinstance.url+'/update') Editar cronograma