extends layout

block content
  - const statusLabels = {Available:'Disponível', Maintenance:'Manutenção', Loaned:'Emprestado', Reserved:'Reservado', Scheduled:'Agendado', Completed:'Concluído', Cancelled:'Cancelado'}

  h1=title

  form(method='POST')
    div.form-group
      label(for='book') Esporte:
      select#book.form-control(name='book' required)
        option(value='') --Selecione um esporte--
        for book in book_list
          if selected_book==book._id.toString()
            option(value=book._id, selected) #{book.title}
          else
            option(value=book._id) #{book.title}

    div.form-group
      label(for='imprint') Local/Detalhes:
      input#imprint.form-control(type='text' placeholder='Local, observações' name='imprint' required value=(undefined===bookinstance ? '' : bookinstance.imprint) )
    div.form-group
      label(for='due_back') Data do evento/treino:
      input#due_back.form-control(type='date' name='due_back' value=(undefined===bookinstance ? '' : bookinstance.due_back_yyyy_mm_dd))

    div.form-group
      label(for='status') Estado:
      select#status.form-control(name='status' required)
        option(value='') --Selecione um estado--
        each val in ['Maintenance', 'Available', 'Loaned', 'Reserved', 'Scheduled', 'Completed', 'Cancelled']
          if undefined===bookinstance || bookinstance.status!=val 
            option(value=val)= statusLabels[val]
          else
            option(value=val selected)= statusLabels[val]

    button.btn.btn-primary(type='submit') Salvar

  if errors
    ul
      for error in errors
        li!= error.msg
