extends layout

block content
  h1 Modalidade: !{book.title}

  p #[strong Responsável: ]
    a(href=book.author.url) #{book.author.name}
  p #[strong Descrição:] !{book.summary}
  p #[strong Código:] #{book.isbn}
  p #[strong Categorias: ]
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |,&nbsp;

  - const statusLabels = {Available:'Disponível', Maintenance:'Manutenção', Loaned:'Emprestado', Reserved:'Reservado', Scheduled:'Agendado', Completed:'Concluído', Cancelled:'Cancelado'}

  div(style='margin-left:20px;margin-top:20px')
    h2(style='font-size: 1.5rem;') Cronogramas / Eventos

    each val in book_instances
      hr
      if val.status=='Available'
        p.text-success #{statusLabels[val.status] || val.status}
      else if val.status=='Maintenance'
        p.text-danger #{statusLabels[val.status] || val.status}
      else
        p.text-warning #{statusLabels[val.status] || val.status}
      p #[strong Local/Detalhes:] #{val.imprint}
      if val.status!='Available'
        p #[strong Data:] #{val.due_back}
      p #[strong Id: ]
        a(href=val.url) #{val._id}

    else
      p Não há cronogramas para esta modalidade.

  hr
  p
    a(href=book.url+'/delete') Excluir modalidade
  p
    a(href=book.url+'/update') Editar modalidade
