extends layout

block content
  h1= title

  form(method='POST')
    div.form-group
      label(for='title') Nome do Esporte:
      input#title.form-control(type='text', placeholder='Nome da modalidade' name='title' required value=(undefined===book ? '' : book.title) )
    div.form-group
      label(for='author') Treinador/Responsável:
      select#author.form-control(name='author' required)
        option(value='') --Selecione um responsável--
        for author in authors
          if book
            if author._id.toString()===book.author._id.toString()
              option(value=author._id selected) #{author.name}
            else
              option(value=author._id) #{author.name}
          else
            option(value=author._id) #{author.name}
    div.form-group
      label(for='summary') Descrição:
      textarea#summary.form-control(placeholder='Descrição' name='summary' required)= undefined===book ? '' : book.summary
    div.form-group
      label(for='isbn') Código:
      input#isbn.form-control(type='text', placeholder='Código/identificador' name='isbn' value=(undefined===book ? '' : book.isbn) required)
    div.form-group
      label Categorias:
      div
        for genre in genres
          div(style='display: inline; padding-right:10px;')
            if genre.checked
              input.checkbox-input(type='checkbox', name='genre', id=genre._id, value=genre._id, checked)
            else
              input.checkbox-input(type='checkbox', name='genre', id=genre._id, value=genre._id)
            label(for=genre._id) &nbsp;#{genre.name}
    button.btn.btn-primary(type='submit') Salvar

  if errors
    ul
      for error in errors
        li!= error.msg
