extends layout

block content

  h1 #{title}: #{book.title}

  p #[strong Responsável: ]
    a(href=book.author.url) #{book.author.name}
  p #[strong Descrição:] #{book.summary}
  p #[strong Código:] #{book.isbn}
  p #[strong Categorias: ]
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |,&nbsp;

  hr

  - const statusLabels = {Available:'Disponível', Maintenance:'Manutenção', Loaned:'Emprestado', Reserved:'Reservado', Scheduled:'Agendado', Completed:'Concluído', Cancelled:'Cancelado'}

  if book_instances.length

    p #[strong Exclua os seguintes cronogramas antes de apagar esta modalidade.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Cronogramas

      each book_copy in book_instances
        hr
        if book_copy.status=='Available'
          p.text-success #{statusLabels[book_copy.status] || book_copy.status}
        else if book_copy.status=='Maintenance'
          p.text-danger #{statusLabels[book_copy.status] || book_copy.status}
        else
          p.text-warning #{statusLabels[book_copy.status] || book_copy.status}
        p #[strong Local/Detalhes:] #{book_copy.imprint}
        if book_copy.status!='Available'
          p #[strong Data:] #{book_copy.due_back}
        p #[strong Id:]
          a(href=book_copy.url) #{book_copy._id}

  else
    p Deseja realmente excluir esta modalidade?

    form(method='POST')
      div.form-group
        input#id.form-control(type='hidden',name='id', value=book._id )

      button.btn.btn-primary(type='submit') Excluir
