extends layout

block content

  h1 Excluir modalidade: #{genre.name}

  if genre_books.length

    p #[strong Exclua os seguintes esportes antes de remover esta modalidade.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Esportes

      dl
        each book in genre_books
          dt
            a(href=book.url) #{book.title}
          dd #{book.summary}

  else
    p Deseja realmente excluir esta modalidade?

    form(method='POST')
      div.form-group
        input#id.form-control(type='hidden', name='id', value=genre._id )

      button.btn.btn-primary(type='submit') Excluir