extends layout

block content

  h1 Modalidade: #{genre.name}

  div(style='margin-left:20px;margin-top:20px')

    h2(style='font-size: 1.5rem;') Esportes
    if genre_books.length
      dl
        each book in genre_books
          dt
            a(href=book.url) #{book.title}
          dd #{book.summary}
    else
      p Esta modalidade não possui esportes cadastrados.

  hr
  p
    a(href=genre.url+'/delete') Excluir modalidade
  p
    a(href=genre.url+'/update') Editar modalidade