extends layout

block content
  h1= title
  p O sistema desenvolvido chama-se IFEsporte e tem como objetivo auxiliar o professor de Educação Física do Instituto Federal Catarinense no gerenciamento das modalidades esportivas, alunos atletas, cronogramas de treinamento e análises de desempenho esportivo.

  h2 Informações rápidas

  p Informações resumidas do sistema:

  ul
    li #[strong Modalidades:] !{book_count}
    li #[strong Cronogramas:] !{book_instance_count}
    li #[strong Eventos futuros:] !{book_instance_available_count}
    li #[strong Alunos:] !{author_count}
    li #[strong Categorias (Modalidades):] !{genre_count}
